
<div class="container">
   <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
         <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"/>
         </svg>
         <span class="fs-4">Job Application</span>
      </a>
      <ul class="nav nav-pills">
         <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
         <li class="nav-item"><a href="/static_pages/help" class="nav-link">Help</a></li>
         <li class="nav-item"><a href="/static_pages/contact" class="nav-link">Contact</a></li>
         <li class="nav-item"><a href="/static_pages/about" class="nav-link">About</a></li>
         <%if signed_in? && current_user.admin==true %> 
         <li class="nav-item"><a href="/static_pages/dashbord_users" class="nav-link">User Dashbord</a></li>
         <%end%>
         <% if signed_in? %>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%= link_to "View Profile", user_profile_path(id:current_user.id),class:"dropdown-item" %>
               <%= link_to "Edit Profile", edit_user_registration_path,class:"dropdown-item" %>
            </ul>
         </li>
         <%end%>     
      </ul>
      <% if signed_in? %>
      <div class="col-md-3 text-end">
         <%= link_to "Sign out", destroy_user_session_path,class:"btn btn-primary",:method => :delete %>
      </div>
      <%else%>
      <div class="col-md-3 text-end">
         <button type="button" class="btn btn-outline-primary me-2"><a href="/users/sign_in" class="text-decoration-none">Sign In</a></button>
         <button type="button" class="btn btn-primary"><a href="/users/sign_up" class="text-white text-decoration-none">Sign up</a></button>
      </div>
      <%end%>
   </header>
</div>

<% if !user_signed_in? %>
  <%= render partial:"static_pages/carasole"%>
<% end%>

<%if user_signed_in?%>
  <% if current_user.admin? %>
    <h3> Welcome Admin </h3>
    <%= render partial:"static_pages/adminview", :locals => {:jobs => @jobs,:jobs_paginate_admin => @jobs_paginate_admin} %>
  <%else%>
    <%if current_user.user_role.include?"Job Seeker"%>
      <%= render partial:"static_pages/jobseekerview", :locals => {:jobs => @jobs,:jobs_paginate_jobseeker => @jobs_paginate_jobseeker} %>
    <% end%>
    <%if current_user.user_role.include?"Employer" %> 
      <h3> Welcome Employer</h3>
      <%= render partial:"static_pages/employerview", :locals => {:jobs => @jobs} %>
    <% end%>
  <%end%>
<%end%>