
<div class="container container-fluid">
<h3> User Details</h3>
<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col">Name</th>
     <td><%= @user.first_name %> <%=@user.last_name%></td>
      
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <th scope="row">Email</th>
       <td><%= @user.email %></td>
  
    </tr>
    <tr class="text-center">
      <th scope="row">Mobile No.</th>
     <td><%= @user.mobile_no %></td>
   
    </tr>
    <tr class="text-center">
      <th scope="row">State</th>
     <td><%= @user.state %></td>
    </tr>
  </tbody>
</table>
</div>


<%if user_signed_in? && (current_user.user_role.include?'Job Seeker') && (!current_user.admin) %>
<div class="container container-fluid">
<hr>
<h2>Applied Jobs</h2>
<table class="table">
   <thead>
      <tr>
         <th>Job title</th>
         <th>Experience</th>
         <th>Salary</th>
         <th> Show Job</th>
      </tr>
   </thead>
   <tbody>
      <% @jobs_user.each do |job| %>
      <tr>
         <td><%= job.job_title %></td>
         <td><%= job.experience %></td>
         <td><%= job.salary %></td>
       
         <td><%= link_to 'Show', job ,class:"btn btn-warning" %></td>
      </tr>
      <% end %>
   </tbody>
</table>
<%= paginate @jobs_user,theme:'my_custom_theme' %>
<%end%>
<div>

<%if user_signed_in? && current_user.admin %>
<div class="container container-fluid">
<hr>
<h2>Applied Jobs Admin View</h2>
<table class="table">
   <thead>
      <tr>
         <th>Job title</th>
         <th>Experience</th>
         <th>Salary</th>
         <th> Show Job</th>
      </tr>
   </thead>
   <tbody>
      <% @jobs_user.each do |job| %>
      <tr>
         <td><%= job.job_title %></td>
         <td><%= job.experience %></td>
         <td><%= job.salary %></td>
       
         <td><%= link_to 'Show', job ,class:"btn btn-warning" %></td>
      </tr>
      <% end %>
   </tbody>
</table>
<%= paginate @jobs_user,theme:'my_custom_theme' %>
<%end%>
<div>

